.product{
    
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 330px;
    min-width: 320px;
    max-height: 380px !important;
    min-height: 380px !important;
    background-color: white;
    z-index: 10;
    box-shadow: 2px 2px 2px #fff;
}

.product_title{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    }
    .product_main_title{
        font-size: 14px;
        padding-left: 8px;
    }

.product_imgages_line_one,
.product_imgages_line_two {
    display: flex;
    
}
.product_images{
    padding-left: 8px !important;
    
}

.real_image{
max-width: 150px;

}
.product_detais{
   font-size: 12px !important;
   line-height: 18px !important;
}